.title{
    overflow: hidden;
}
.UserAvatar{
    font-size: 16px;
    height:50px;
    width:50px;
    border-radius: 99%;
    margin-left: 17px;
    cursor: pointer;
    margin-top: 5px;
    padding: 8px;
    margin-right: -8px;
    object-fit: cover  ;
}